@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('primeicons/primeicons.css');

* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;

    transition: all 100ms ease-in-out;
    scroll-behavior: smooth;
    text-wrap: wrap;
}

:root {
    --primary-color: #14521C;
    --primary-color-hover: #176221;
    --primary-color-focus: #1a7225;
    --text-color: #1e1e1e;
    --text-color-hover: #2a2a2a;
    --text-color-focus: #3a3a3a;
    --white-color: #ffffff;
    --bg-color: #F1F5F1;
    --admin-bg-color: #F6F6F6;
    --input-color: rgba(20, 82, 28, 0.05);
    --input-hover-color: rgba(20, 82, 28, 0.1);
    --input-focus-color: rgba(20, 82, 28, 0.2);
    --bg-layout-color: white;
    --border: 1px solid rgba(30, 30, 30, 0.2);
    --border-line-sidebar: 1px solid rgba(30, 30, 30, 0.2);
    --border-form-radius: 5px;
    --border-layout-radius: 20px;
    --red: #A32B2B;
    --red-hover: #8d2828;
    --red-focus: #461919;
    --red-soft: rgb(192, 57, 43);

    /* --kesp-primary: #5F5727; */
    --kesp-primary: #241147;
    --kesp-primary-hover: #2f185c;
    --kesp-primary-focus: #3e2374;
    --kesp-bg: #f9f6ff;
    --nuxtlink-hover: #f3ecff;
    --nuxtlink-focus: #f9f6ff;
    --nuxtlink-active: #f9f6ff;

    --admin-nuxtlink-hover: #e2e2e2;
    --admin-nuxtlink-focus: #dadada;
    --admin-nuxtlink-active: #e6e6e6;
}

::selection {
    background: var(--primary-color);
    color: white;
}

body {
    background-color: var(--bg-color);
}

p {
    opacity: 0.8;
}

.p-inputtext {
    width: 100%;
}

input:focus,
textarea:focus {
    border-color: var(--primary-color) !important;
    outline: none;
}

button {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: var(--border-form-radius);
    font-weight: normal;
    text-align: center;

    /* width: 100%; */
    height: 38px;
    padding: 0px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color-hover);
    outline: none;
}

button:active {
    background-color: var(--primary-color-focus);
    outline: none;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    padding-bottom: 7px;
    border-bottom: 2px solid var(--text-color);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-link:hover {
    transform: translateX(3px);
}

.footer-btn {
    width: auto;
}


.razdoblje {
    max-width: 500px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.razdoblje>div,
.razdoblje>div>div,
.razdoblje>span {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.razdoblje>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.opisnap {
    width: 100%;
    grid-column: span 2;
}

textarea {
    resize: vertical;
    max-height: 100px;
}

.razdoblje>span {
    width: auto;
}

.required {
    color: var(--red-soft);
}

/* Globalni CSS za fade tranziciju */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
    opacity: 1;
}

/* CSS za slide animaciju s efektom nestajanja */
.slide-enter-active,
.slide-leave-active {
    transition: transform 0.5s ease, opacity 0.25s ease;
    /* Dodajemo tranziciju za opacity */
}

.slide-enter-from {
    transform: translateX(-100%);
    opacity: 0;
    /* Početak ulaska, izvan ekrana s lijeve strane i nevidljivo */
}

.slide-enter-to {
    transform: translateX(0);
    opacity: 1;
    /* Krajnja točka, element se potpuno vidi i nalazi na mjestu */
}

.slide-leave-from {
    transform: translateX(0);
    opacity: 1;
    /* Element započinje na mjestu i potpuno vidljiv */
}

.slide-leave-to {
    transform: translateX(100%);
    opacity: 0;
    /* Element klizi udesno i postaje nevidljiv */
}


.nb {
    border: none;
}

.nb-t {
    border-top: none;
}

.nb-b {
    border-bottom: none;
}

.nb-l {
    border-left: none;
}

.nb-r {
    border-right: none;
}


.nullgray {
    background-color: rgb(239, 239, 239);
}

.pink {
    background-color: #FBE2D5;
}

.lightgreen {
    background-color: #FFFFE1;
}

.gray {
    background-color: #D9D9D9;
}

.lightgray {
    background-color: #F0FAFE;
}

.green {
    background-color: #DAF2D0;
}

.darkgreen {
    color: white;
    background-color: #3C7D22;
}